/* main ¯\_(ツ)_/¯ */

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Comfortaa", "cursive";
}

body {
  background-color: #272b30;
}

/* ------------------------------------------------------------------------------------------------------- */
.header {
  background-image: url(../img/wraper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
}

/* Navbar */
nav {
  background-image: url(../img/wraper.png);
  background-color: #3a497b;
  box-shadow: 0 0 5px black;
}

nav a.navbar-brand {
  font-size: 80% !important;
}

nav button {
  top: 8% !important;
  padding: 0 10px !important;
}

nav .nav-item a {
  font-size: 14px !important;
  color: white;
  transition: all 500ms ease-in-out !important;
  -webkit-transition: all 500ms ease-in-out !important;
  -moz-transition: all 500ms ease-in-out !important;
  -ms-transition: all 500ms ease-in-out !important;
  -o-transition: all 500ms ease-in-out !important;
}

nav .nav-item .active {
  color: #019ad8 !important;
}

nav .nav-item a:hover {
  color: #019ad8 !important;
}

/* Loader */
.sk-chase {
  width: 140px;
  height: 140px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

.games {
  padding-top: 20px;
  /* margin-right: 12px; */
  border: 2px solid #212529;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.games img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.border-top {
  border-top: 2px solid #212529 !important;
  margin-block: 10px;
}

.games-footer {
  padding-inline: 10px;
}

.games-container {
  cursor: pointer;
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.games-container:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-filter: grayscale(0%);
}

.game-details-container {
  background-color: #272b30;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  margin-block: 10px;
}

.games-details img {
  width: 30% !important;
  object-fit: cover !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.games-details-footer {
  text-align: start;
}

#close {
  width: 30px;
  top: 5%;
  right: 5%;
  display: block;
}
